{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        {% if not user.is_authenticated %}
                        <h3>Please Login First</h3>
                        {% elif user.is_authenticated %}
                        <div class="form-field">
                            <p>Your username : <strong>{{ user.get_username }}</strong></p>
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="coupon" name="coupon" placeholder="Enter a coupon code..">
                        </div>
                        <button class="btn btn-success" onclick="submitbuy()">CONTINUE</button>
                        {% endif %}
                    </div>
                </form>
            </div>
            
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price}}</p></div>
                    <div style="flex:1"><p>{{item.quantity}}</p></div>
                </div>
                {% endfor %}
                
                <h5>Items:   {{order.get_cart_items}}</h5>
                <h5>Total:   Rp.{{order.get_cart_total}}</h5>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >
var total = '{{order.get_cart_total}}'
console.log(itemTotal)

function submitbuy(){
    var userFormData = {
        'name':null,
        'emai':null,
        'total':total
    }

    var url='/process_order/'
    fetch(url, {
        method:'POST',
        headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,

        },
        body: JSON.stringify({'form':userFormData})
    })
    .then((response) => response.json())
    .then((data) => {
        console.log('success:',data)
        alert('Transaction Completed')
        window.location.href = "{% url 'store' %}"
    })
}
</script>
{% endblock content %}