{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
<br><br>
<div class="container"><center><h1>Feedback<h1></center></div>
<br>
    <div class="card-deck">
        {% for i in data %}
        <div style="min-width: 250px; max-width:250px; max-height: 500px;"class="card mb-3 d-flex flex-wrap ">
        <img src="{{i.image.url}}" class="card-img-top text-center">
            <div class="card-body">
                <h5 class="card-title">Name: {{i.name}}</h5>
         
            </div>
            <div class="card-footer">
            <small class="text-muted"><a href="{% url 'reviews' pk=i.pk %}" class="btn btn-secondary">Write Review</a></small>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock content %}