<!DOCTYPE html>
{% load static %}
<html>
    <head>
           <title>PPW OLSHOP</title>
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
           <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
           <script type="text/javascript">
              var user = '{{request.user}}'
              function getToken(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = cookies[i].trim();
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                            }
                            }
                        }
                return cookieValue;
              }
              var csrftoken = getToken('csrftoken');
          </script>
     </head>
     <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="{% url 'store' %}">OLSHOP</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
       
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
             </li>
           <li class="nav-item active">
               <a class="nav-link" href="{% url 'review' %}">Review<span class="sr-only">(current)</span></a>
             </li>
             {% if user.is_authenticated%}
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'history' %}">History<span class="sr-only">(current)</span></a>
             </li>
           </ul>
           {%else%}
           <li class="nav-item active">
           </li>
           {% endif %}
           {% if user.is_authenticated %}
           <div class="form-inline my-2 my-lg-0">
               <a href="{% url 'signout'%}"class="btn btn-dark">Logout</a>
               
               <a href="{% url 'cart' %}">
                 <img  id="cart-icon" src="{% static 'images/cart.png' %}">
              </a>
              <p id="cart-total">{{cartItems}}</p>
           </div>
           {% else %}
           <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'signin'%}"class="btn btn-dark">Login</a>
           </div>
           {% endif %}
         </div>
       </nav>
       <div class="container">
        {% block content %}


        {% endblock %}
       </div>

       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
      </body>
</html>